/* Add a black background color to the top navigation */
header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.topnav {
    width: 100%;
    height: 8vh;
    background-color: rgb(227, 160, 73);
    overflow: hidden;
    display: flex;
    align-items: space-between;
  }

  .container-nav-title{
    width: 20%;
    height: 8vh;
    color: white;
    font-size: x-large;
    text-align: center;
    background-color: rgb(220, 50, 3);
    display: flex;
    align-items: center;
    justify-content:space-evenly;

  }

  .container-nav-profile {
    padding-left: 1%;
    margin-top: 20px;
    width: 20%;
    height: 80px;
  }

  .container-nav-profile span {
    margin-top: 10%;
    
    align-items: center;
    font-size: 25px;
    color: white;
  }

  .container-nav-profile img {
   
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    right: 30px;
    
    /*position: fixed;
    margin-top: 25px;
    margin-left: 70%;
    width: 50px;
    height: 50px;
    border-radius: 50%;*/
    
   


  }
  

  