/* Add a black background color to the top navigation */
header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.topnav {
    width: 100%;
    height: 8vh;
    background-color: rgb(227, 64, 46);
    overflow: hidden;
    display: flex;
    align-items: center;
   
  }

  .container-nav-title{
    width: 20%;
    height: 60px;
    color: white;
    text-align: center;
    background-color: rgb(190, 42, 26);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .container-nav-search{

    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .container-nav-search-input {
    width: 90%;
  }

  .container-nav-search-input input {
    margin-left: 20px;
    border: none;
    background-color: transparent;
    color: white;
  }

  .container-nav-search-input input::placeholder {
    color: white;

  }

  .container-nav-profile {
    margin-top: 20px;
    width: 10%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  .container-nav-profile span {
    font-size: 13px;
    margin-bottom: 3px;
    color: white;
    

  }

  .container-nav-profile img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
   


  }

  