.aside {
    padding-top: 70px;
    width: 20%;
    height: 100vh;
    background-color: rgb(36, 35, 35);
    color: white;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    
}

.aside a {
    height: 50px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    color: white;
    text-decoration: none;

}

.aside a:hover {
    color: orangered;
    background-color: rgb(36, 42, 48);

}

.aside .linkActive {
    background-color: rgb(36, 42, 48);
    color: orangered;
    font-weight: 700;

}

@media screen and (max-width: 414px) {
    .aside {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
}